{% extends "base.html" %}

{% block Title %}
    Home Page
{% endblock %}


{% block content %}
    <section id="top-cotent-a">
        <div class="hm-sec-a">
            <h1 style="font-weight: 500;">Track Your Shipment</h1>
            <div class="col-auto">
                <label for="form01" class="form-label">Find the status of your in transit shipment</label>
                <input type="text" class="form-control" id="form01" placeholder="Enter your tracking number(s)">
                <button id="new-btn" type="button" class="btn btn-outline-info btn-lg">Track now</button>
            </div>
        </div>
    </section>

    <section id="content-b">
        <div class="row">
            <!-- for ship now card-->
            <div class="card col-lg-6 col-md-6">
                <div class="card-body">
                    <h4>Ship Now</h4>
                    <p>Find the right service</p>
                </div>
            </div>
            <!-- for Get a quote section-->
            <div class="card col-lg-6 col-md-6">
                <div class="card-body">
                    <h4>Get a Quote</h4>
                    <p>Estimate cost to share and compare</p>
                </div>
            </div>
    </section>
{% endblock %}